#This is an example of what your .env file should look like. Check the README for detailed instructions on how to fill out each section

#API Authentication
  API_KEY=56f56u3346eui3442h3454i2344
  API_SECRET=l2JGFK8kK9jsms874dRdKKS39dH232JGSGJM638HLJsd6634jsk&&jdd87kdhd==
  API_PASSPHRASE=c3jw8jrs1

#Bitcoin
  INTERVAL_INVESTMENT_AMOUNT_BTC=0.01
  INVESTMENT_INTERVAL_BTC=tenmins

#Ethereum
  INTERVAL_INVESTMENT_AMOUNT_ETH=0.00
  INVESTMENT_INTERVAL_ETH=hour

#Litecoin
  INTERVAL_INVESTMENT_AMOUNT_LTC=0.00
  INVESTMENT_INTERVAL_LTC=day

#Other
  FIAT_CURRENCY=USD
  SANDBOX_MODE=true
